body {
    margin: 0;
    padding: 0;
    font-family: 'Satoshi', sans-serif;
    background: #e5e5e5;
  }
  .header-container{
    display: flex;
    justify-content: space-between;
    background: white;
    border-radius: 10px 10px;
    width: 100%;
  }

  h1{
    text-align: center;
    margin-left:30px;
    
  }

  .nav-header{
    display: flex;
    align-items: center;
    margin-right: 50px;
    
  }

  .input-header{
    outline: none;
    border-radius: 6px;
    font-size: 15px;
    flex-grow: 1;
    
  }

  .icon-add{
    font-size: 20px;
    margin-right: 10px;
    align-self: center;
    text-decoration: none;

  }
  
  .main-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
  }
 
  
  .motoboys-list {
    list-style: none;
    padding: 0;
  }
  
  .motoboy-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: white;
  }
  
  .motoboy-info {
    flex-grow: 1;
    padding: 15px;
  }
  
  .motoboy-actions button {
    gap: 10px;
    cursor: pointer;
    padding: 6px 10px;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
  }
  
  .edit-button {
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s ease;
  }
  
  .delete-button {
    background-color: #dc3545;
    color: #fff;
  }
  
  .edit-button:hover{
    background-color: rgb(47, 107, 227);
    animation-duration: 100ms;

  }